p {
  color: blanchedalmond;
  font-size: large;
}
h1,
h2,
h3 {
  color: bisque;
}

h1 {
  font-size: 40px;
}

img {
  text-align: center;
  padding: 60px;
  margin: 5px;
  box-shadow: black (255, 204, 0) 1px 0 10px;
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
}

article {
  max-width: 500px;
  padding: 20px;
  text-align: left;
  background-color: rgb(63, 21, 160);
}
#filme1 {
  max-width: 500px;
  padding: 20px;
  text-align: left;
  background-color: darkslategray;
}

label {
  font-weight: bold;
  color: bisque;
}
section {
  background-image: url(../netflix.jpg);
  background-size: cover;
  overflow: hidden;
}

#filme {
  float: right;
  background-color: plum;
}

#description {
  font-size: larger;
}

#descricao {
  max-width: 800px;
  background-color: darkmagenta;
  font-size: 20px;
}
iframe {
  padding: 20px;
  text-align: center;
}

summary {
  color: bisque;
}

dialog {
  background-color: deeppink;
}

#dialog {
  float: right;
}

#link {
  background-color: cornsilk;
  font-size: larger;
  color: blueviolet;
  border-radius: 30px;
  float: right;
}
