.divpai {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  border: solid black 1px;
}

.pai {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.filho {
  background-color: rgb(252, 6, 6);

  margin: 10px;
}

.a {
  width: 80px;
  height: 80px;
}

.b {
  width: 80px;
  height: 40px;
}

.c {
  width: 80px;
  height: 140px;
}
